---
import "../global.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{Astro.props.title}</title>
	</head>
	<body>
		<div class="content">
			<a href="/web-audio-tests/">Home</a>
			<p class="kind">{Astro.props.kind}</p>
			<h1>{Astro.props.title}</h1>
			<div class="playback">
				<div>
					<button id="play">Play</button>
					<button disabled id="pause">Pause</button>
				</div>
				<label for="volume">
					<span>Volume:</span>
					<input disabled type="range" name="volume" id="volume" min="0" max="1" step="0.05" value="0.15" />
				</label>
			</div>
			<slot />
			<script is:inline src="/web-audio-tests/coi-serviceworker.min.js"></script>
		</div>
	</body>
</html>
