---
import Layout from "../_layout.astro";
export const title = "Worklet Node (Atomic)";
export const kind = "buffered";
---

<Layout title={title} kind={kind}>
	<p>Are SharedArrayBuffer and Atomics supported?: <span id="supported"></span></p>
	<p>You need to be on iOS 15.2+ or a browser that supports SharedArrayBuffer and Atomics to run this test.</p>
	<script>
		import "../../logic/worklet_node/queue_atomic";

		document.getElementById("supported").innerText = self.crossOriginIsolated && self.SharedArrayBuffer && self.Atomics ? "✅" : "❌";
	</script>
</Layout>
