:root {
	--tint: #3A74F5;
}

body {
	font-family: system-ui, -apple-system, sans-serif;
	accent-color: var(--tint);
}

* {
	box-sizing: border-box;
}

.content {
	max-width: 42rem;
	width: 100%;
	margin: auto;
	padding: 2rem 1rem;
}

p {
	line-height: 1.5rem;
}

a {
	color: var(--tint);
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

/* Player view */

.kind {
	text-transform: uppercase;
	margin-bottom: -1rem;
	font-size: 0.9rem;
	opacity: 0.6;
	font-weight: 600;
}

.playback, .playback label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.playback {
	background-color: rgba(121, 121, 121, 0.15);
	padding: 1rem;
	border-radius: 0.5rem;
}
